@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
  margin: 0;
  top: 0px;
  left: 0px;
  /* width: 1366px; */
  /* height: 1369px; */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

